.woosh-app-footer {
    background-color: #BB94694a !important;
}

.ws-button {
    background-color: #BB9469 !important;
    padding: 5px 20px 5px 20px;
}

    .ws-button .icon-accordion {
        margin-top: -1px;
    }

    .private-button {
        background-color: lightgray;
        color: #000;
        border: 0px;
        padding: 5px 20px;
        border-radius: 6px;
        transition: .25s ease-in-out;
        text-transform: lowercase;
        font-weight: bold;
    }


.private-button:hover {
    background-color: #bb94695e !important;
    border: 0px;
    padding: 5px 20px;
    border-radius: 6px;
}

    .private-button.active {
        background: #BB9469;
        color: white;
    }

    .ws-button:hover {
        background-color: #000 !important;
        color: #BB9469 !important;
    }

#simulator .simulator-phase .simulator-counter {
    background-color: #BB94694a !important;
}

.counter-btn {
    color: #BB9469 !important;
    background-color: unset !important;
    border: 0px !important;
}

.add-more-products-btn {
    font-size: 30px;
    font-weight: bold;
}

.highlight .nav-link {
    border: 2px solid #bb9469bd !important;
    background-color: #bb9469a8;
    color: #fff !important;
}

#simulator .simulator-phase-two {
    padding: 0 !important;
    border-top: 1px solid lightgray;
}

/* Para ecrãs com largura máxima de 1200px */
@media (max-width: 1550px) {
    #simulator .box {
        zoom: 0.7;
    }

    #simulator .simulator-phase .items .item p {
        font-size: 19px;
    }

    #simulator .item-properties .attribute .attribute-box p {
        font-size: 19px !important;
    }
}

#simulator .simulator-header {
    position: relative;
}

#simulator .simulator-phaser {
    display: flex;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}

    #simulator .simulator-phaser .phase {
        background-color: #000;
        height: 8px;
        width: 150px;
    }

    #simulator .simulator-phaser .done {
        background-color: #BB9469;
    }


#simulator .simulator-phase .items {
    display: flex;
    margin: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-bottom: 2px solid lightgray;
    max-height: 155px;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    #simulator .simulator-phase .items::-webkit-scrollbar {
        display: none;
    }


#simulator .simulator-phase .items .item img {
    height: 70px;
}

    #simulator .simulator-phase .items .item p {
        color: #000;
        margin-top: -8px;
    }

    #simulator .simulator-phase .items .item {
        width: 158px;
        padding: 30px 0px;
        cursor: pointer;
        flex: none;
        position: relative;
    }

    .item .delete-icon {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 45px;
        height: 45px !important;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.2s ease;
    }

        .item .delete-icon:hover {
            opacity: 1;
        }

.item .done-icon {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 210px;
    height: 25px !important;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease;
    display: none;
}

#simulator .simulator-phase .items .active {
    background-color: #ececec;
    transition: 0.14s ease-in-out;
}

#simulator .item-properties .attribute .attribute-box img {
    height: 100px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#simulator .item-properties .attribute .row {
    gap: 20px;
}

#simulator .item-properties .attribute .attribute-col {
    padding: 30px 0px;
}

#simulator .item-properties .attribute .attribute-box {
    text-align: center;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 0px 0px 22px 0px;
}

    #simulator .item-properties .attribute .attribute-box p {
        font-size: 13px;
    }


    #simulator .item-properties .attribute .attribute-box .simulator-counter {
        margin-top: unset !important;
        position: unset !important;
        background-color: #fff !important;
        width: 80%;
        margin: 0 auto;
    }

#simulator .item-properties .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

#simulator .item-properties .row {
    padding-left: 30px;
    padding-top: 5px;
}

#simulator .simulator-phase .add-more-products {
    cursor: pointer;
    border-bottom: 2px solid lightgray;
}

#simulator .properties {
    border-bottom: 1px solid lightgray;
}

#simulator .finish {
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

/* Container do switch */
.switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
}

    /* Slider (a parte que se move) */
    .switch .slider {
        position: absolute;
        cursor: pointer;
        background-color: #fff; /* fundo inicial */
        border: 2px solid #ccc;
        border-radius: 999px; /* redondo */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.3s ease;
        height: 24px;
    }

        /* Bolinha interna */
        .switch .slider::before {
            content: "";
            position: absolute;
            height: 16px;
            width: 16px;
            left: 0px;
            top: 2px;
            background-color: #ccc;
            border-radius: 50%;
            transition: all 0.3s ease;
        }

    /* Quando marcado */
    .switch input:checked + .slider {
        background-color: #BB9469; /* fundo do switch */
        border-color: #BB9469;
    }

        .switch input:checked + .slider::before {
            transform: translateX(20px); /* move a bolinha para a direita */
            background-color: #fff; /* bolinha continua branca */
        }


#simulator .property-number {
    color: #BB9469;
}

#simulator .property-text {
    font-weight: bold;
}

.footer-section h3 {
    color: #BB9469 !important;
}

.highlight::before {
    background-color: unset !important;
}
.highlight:hover .nav-link, .navbar .navbar-nav .nav-item.active .nav-link {
    opacity: 1 !important;
    filter: blur(1px);
}

#scrollTopBtn svg {
    fill: #BB9469 !important;
}

.bg-extra-medium-gray {
    background-color: #BB9469 !important;
}

.section-description-box ul li::before {
    background-color: #BB9469 !important;
}

.ws-button {
    padding: 13px 25px 13px 25px;
}

.woosh-app-footer .ws-button {
    width: 230px;
    text-align: center;
}

div:where(.swal2-icon).swal2-error {
    border-color: #bb9469bd !important;
    color: #bb9469bd !important;
}

    div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
        background-color: #bb9469bd !important;
    }